[global]
BuildConfig=ilock
SqlDatabase=fio_dioread_db.db

[dioread_nolock]
#losetup=losetup /dev/loop0 /mnt1/testfs
mkfs=mkfs.ext4 -F -b 4096 testfs
mount=sudo mount -t ext4 -o loop,dioread_nolock testfs ./mountdir/
chown=sudo chown -R riteshh:root ./mountdir/
#mountdir=/mnt1/test
mountdir=./mountdir/

[dioread_lock]
#losetup=losetup /dev/loop0 /mnt1/testfs
mkfs=mkfs.ext4 -F testfs
mount=sudo mount -t ext4 -o loop testfs ./mountdir/
chown=sudo chown -R riteshh:root ./mountdir/
#mountdir=/mnt1/test
mountdir=./mountdir/


